<% if current_user %>
  <%= simple_form_for @note, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.error_notification %>
    <fieldset>
      <%= f.input :title, :class => 'control-label' %>
      <%= f.input :content, :class => 'control-label' %>

      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        notes_path, :class => 'btn' %>
      </div>
      <fieldset>
  <% end %>
<% end %>
